[submodule "applets/satochip"]
	path = applets/satochip
	url = https://github.com/Toporin/SatochipApplet
[submodule "applets/satodime"]
	path = applets/satodime
	url = https://github.com/Toporin/Satodime-Applet
[submodule "applets/seedkeeper"]
	path = applets/seedkeeper
	url = https://github.com/Toporin/Seedkeeper-Applet
[submodule "sdks"]
	path = sdks
	url = https://github.com/martinpaljak/oracle_javacard_sdks
[submodule "applets/satochip-thd89"]
	path = applets/satochip-thd89
	url = https://github.com/3rdIteration/SatochipApplet
	branch = THD-89
[submodule "applets/seedkeeper-thd89"]
	path = applets/seedkeeper-thd89
	url = https://github.com/3rdIteration/Seedkeeper-Applet
	branch = THD-89
[submodule "applets/satodime-thd89"]
	path = applets/satodime-thd89
	url = https://github.com/3rdIteration/Satodime-Applet
	branch = THD-89
